*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flexbox;
    color: #e35311ff;
    background-color: #fef4bc;
}


body{
    margin: 0px;
}



.search-bar{
      margin-left:10rem;
    text-align: center;
    
    background-color:#ef720a ;
    
    height: 3rem ;
   
 position: relative;
 z-index: 0;
 display: flex;

 
}


.search-inpt{
    margin-left: auto;
    margin: 0.5rem  0.3rem 0.5rem auto;
    width: 12rem;


}
.search-btn{
  
     margin: 0.5rem  auto 0.5rem 0.3rem ;
     
}



.cart-btn{
    margin: 0.5rem;
}








.side-bar{
    text-align: center;
    background-color:#e35311 ;
    
   width:4.5rem ;
  height: 47rem;
 
  
   position: absolute;
   z-index: 1;

}

.side-bar:hover {
      
   width:10rem ;
  height: 47rem;
}




.logo-text{
    height: 50px;
    margin: 0.5rem;
}

.side-bar:hover .logo-text {
      height: 100px;
   margin: 1rem;
}


ul{
    text-align: center;
    list-style: none;
    padding: 4rem 0rem 0rem 0rem;
    background-color: #e35311;


}

li{
     background-color: #e35311;
    margin: 1rem;
}

.side-bar:hover li {
      margin: 1rem;
}

a{
    color: #fef4bc;
    background-color: #e35311;
    
    
}






.content{

    margin-left:10rem ;


   
}


.filter-bar{
    text-align: right;
    border-bottom:2px solid #ef720a;
   
}

.item-grid{
}